main {
  background-color: blue;

  & section {
    background-color: red;
    width: 500px;

    & li {
      text-decoration: none;
      background-color: yellow;
      width: 400px;

      & a {
        color: black;

        &:hover {
          font-size: 30px;
          background-color: color-mod(green alpha(50%));
        }
      }
    }
  }
}

h1 {
  /* color: color-mod(#f39c12 alpha(50%)); */
  /* color: #f39c12; */
  /* color: gray(50); */
  /* font-family: system-ui; */
}

h1:hover {
  /* color: color-mod(#f39c12 alpha(50%)); */
}

/* 
Media Query
@custom-media --ipad-size (450px <= width <= 850px);

@media (--ipad-size) {
  body {
    background-color: red;
  }
} */

/* :root {
  --awesomeColor: #9980b9;
}

li:first-child a {
  color: var(--awesomeColor);
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
  color: #9b59b6;
} */

/* 
Matches
li:matches(:nth-child(even), .target) {
  background-color: blue;
} */

/*
Not
li:not(.target) {
  background-color: blue;
}
*/
